POSTGRES_DB=fhir_demo
POSTGRES_USER=fhir_user
POSTGRES_PASSWORD=fhir_password
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin123!

# Put your FHIR bundle JSON inside ./data and point to it here.
BUNDLE_FILE=/data/Abbie917_Ali918_Heathcote539_42424eb3-41c0-6ce9-bb61-8cbe23935ed4.json
